*{
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
  }

.top_card {
    display: flex;
    flex-direction: column; 
    background-color: hsl(215, 28%, 17%);
    padding: 10px 350px;
    color: white;
}

h1 {
    font-family: Roboto;
}

.header {   
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.right_header {
    display: flex ;
    align-items: center;
    gap: 20px;
}

.top_content {
    display: flex;
    padding: 50px 0;
    margin-top: 50px;
    gap:100px;
}

.top_content_right{
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.top_content_right img {
    width: 700px;
}

p, a, h1{
    font-size: 18px;
    margin-bottom: 20px;
}

h1{
    font-size: 48px;
}


.info_card {
    background-color:white;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 50px 350px;
}

.images {
    padding-top: 50px;
    display: flex;
    gap: 20px;   
}

.img_and_descrip {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info_card img {
    width: 250px;
    border: solid rgb(115, 115, 212) 5px;
    border-radius: 20px;
}

.descriptions {
    display: flex;
    text-align: center;
    justify-content: center;
}

.quote_card {
    padding: 100px 350px;
    background-color: #E5E7EB;
}

.quote_card h1 {
    font-style: italic;
}

.quote_card h2 {
    text-align: right;
}

.signup_card {
    padding: 100px 350px;
}

.popup {
    background-color: #3882F6;
    width: 1000px;
    display: flex;   
    align-items: center;
    gap: 30px;
    margin: 0 auto;
    color: white;
    padding: 50px 70px;
    border-radius: 20px;
}

.left_pop {
    flex: 1;
    display: flex;
    flex-direction: column ;
    justify-content: center;
}

.right_pop {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #3882F6;
    color: white;
    padding: 10px 35px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    border: #3882F6;
}

.right_pop button {
    border: solid white 2px;
    border-radius: 20px;
}

.footer {
    padding: 50px 350px;
    text-align: center;
    background-color: hsl(215, 28%, 17%);
    color: white;
}